#container {
    width: 100%;
    height: 85%;
    position: relative;

  }


  #form-container{
    display: inline-block;
  }

  #top bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10;
    z-index: 100;
  }

  #search {
    width: 100%;
    height: 100%;
    text-align: center;
  }


  #map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-height: inherit;
  }


  input[type=text], select {
    padding: 12px 10px;
    margin: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  
  input[type=submit] {
    background-color: #4285F4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }




.emoji
{
    font-size: 30px;
    text-shadow: 0px 0px 4px #555;
    vertical-align: middle;

}

.emoji-slider
{
    -webkit-appearance:none;
    appearance:none;
    width: 100px;
    height: 5px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;

    border-radius: 5px;
    background: #4285F4;
    
}


.slider-container{
  display: inline-block;
  width: 160px;
  background-color: #fff;
  padding: none;
  margin: 8px 0;
  border-radius: 4px;
  height: 35;
}

.emoji-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4285F4;
  cursor: pointer;
  border-radius: 50%; 
}


.emoji-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

